body {
  background-color: black;
}
h1 {
  font-family: Papyrus;
  color: white;
  text-align: center;
}
#users {
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  text-align: center;
  grid-gap: 10px;
  font-size: 5vh;
}
.user {
  border: 2px solid black;
  border-radius: 11px;
  font-family: Papyrus;
}
span {
  margin: 2px;
  color: gold;
}

.movieimg{
  width: 35vh;
  height: 45vh;
}

.moviecontainer{

  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  text-align: center;
  grid-gap: 10px;
}

.add,h3{
  color: gold;
}
h2 {
  color: white;
  font-family: Papyrus;
}
.permovieimg {
  width: 35vh;
  height: 45vh;
  margin-left: 40vw
}
p {
  color: white;
  margin-left: 5vw;
  margin-right: 8vw;
}

.name-input {
  margin: 20px;
}